<div>
    <a href="#">
        <app-card
            [titulo]="'QR CODE'"
            [descricao]="'Gere códigos QR personalizados para links, textos, contatos e mais. Simples, rápido e funcional.'"
        ></app-card>
    </a>  
    <a href="#">
        <app-card
        [titulo]="'MUDAR ARQUIVOS'"
        [descricao]="'Converta, compacte ou edite seus arquivos com praticidade. Suporte a diversos formatos!'"
        ></app-card>
    </a>

    <a href="#">
        <app-card
            [titulo]="'ENCURTAR LINK'"
            [descricao]="'Transforme URLs longas em links curtos e fáceis de compartilhar. Ideal para redes sociais.'"
        ></app-card>
    </a>  
    
    <a href="#">
        <app-card
            [titulo]="'GERAR CURRÍCULOS'"
            [descricao]="'Crie currículos profissionais em poucos passos. Escolha um modelo, preencha e baixe!'"
        ></app-card>
    </a> 
</div>
