div {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    gap: 10px;

}


@media (max-width: 900px) {
  div {
    display: flex;
    flex-direction: column;

  }
}   