div {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

p {
    max-width: 45%;
    align-self: center;
}

@media (max-width: 860px) {
  div {
    display: flex;
    flex-direction: column;

  }
  p {
    max-width: 100%;
    align-self: center;
    text-align: center;
    padding: 20px;
  }
}   