<div>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, optio modi accusamus et laboriosam odio corrupti nisi officia recusandae ab dicta obcaecati tempora dolore illum dignissimos assumenda vero dolorem aliquam laborum corporis molestias. Voluptatum laudantium explicabo voluptate voluptatem eveniet exercitationem?
    </p>
    <img src="https://placehold.co/400x300">
</div>
<div style="background-color: black;"></div>
<app-services></app-services>
<div style="background-color: black;"></div>
<app-qrcode-gen></app-qrcode-gen>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8294257953298975"
        crossorigin="anonymous">
</script>
    <!-- Anuncio -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-8294257953298975"
        data-ad-slot="8469420835"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
</script>