<div id="footer">
    <div class="col">
        <p>Contato</p>
        <ul>
            <li>Telefone: (11) 1234-5678</li>
            <li>Email: contato&#64;exemplo.com</li>
            <li>Endereço: Rua Exemplo, 123</li>
            <li>Atendimento: Seg-Sex, 9h-18h</li>    
        </ul>
    </div>

    <div class="space"></div>

    <div class="col">
        <p>Links Úteis</p>
        <ul>
            <li><a href="#">Sobre Nós</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Política de Privacidade</a></li>
            <li><a href="#">Fale Conosco</a></li>    
        </ul>
    </div>
    
    <div class="space"></div>

    <div class="col">
        <p>Redes Sociais</p>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">YouTube</a></li>    
        </ul>
    </div>
</div>
